*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-purple {
  color: #fff;
  background-color: #663991; /* Purple color */
  border-color: #663991;
}

.btn-purple:hover {
  background-color: #613f82; /* Darker purple on hover */
  border-color: #613f82;
}

.tag-situacao{
  background-color: #00c244
}
